
.backgrounder {
    /*background: linear-gradient( white, #00c61a);*/
    background-image: repeating-conic-gradient(from 90deg at 50% 50%, #74e283 0deg 20deg, #cdffd4 20deg 40deg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    overflow-y: scroll;
}

#leftText {
    text-align: left;
}

#rightText {
    text-align: right;
}

nav {
    display: flex;
    background-color: black;
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
}

figure {  
    margin: 20px 15px; 
    width: 200px;
    display: inline-block;
}

figcaption {
    font-size: 30px;
    text-wrap: wrap;
    padding-bottom: 30px;
    padding-left: 3px;
    color: black;
    text-align: center;
    width: 200px;
}

.imgContainer {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.defaultClass {
    display: flex !important;
}

.image {
    border: black solid 3px;
    width: 200px;
}

#buttonRow {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cpb {
    height: 80px;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

#PPHT {
    background-color: rgb(186, 250, 186);
    text-align: center;
    height: 200px;
    width: 100%
}

#websiteTitle {
    align-self: flex-start;
    color: white;
    font-size: 35px;
    max-height: 50px;
    min-width: 15%;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline overline green;
}

.dropdown {
    height: 60px;
    align-self: flex-end;
    width: 150px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 14px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content {
    background-color: rgb(0, 138, 23);
    display: none;
    position: absolute;
    min-width: 150px;
    right: 0;
    top: 75px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

#pageEnd {
    display: block;
    background: black;
    height: 20px;
    position: absolute;
    bottom: 0px;
}

.show {display:block;}

.flex {display:flex;}