
.backgrounder {
    background: linear-gradient( white, #00c61a);
    background-size: cover;
    height: 100%;
}


#leftText {
    text-align: left;
}

#rightText {
    text-align: right;
}

p1 {
    width: 100%;
}

nav h1 {
    color: white;
}

nav {
    background-color: black;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}

.image {  
    height: 200px;
    width: 200px;
}

.label {
    top: 150px;
    left: 100px;
}

figure {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: black solid 1px;
}

figcaption {
    color: black;
    text-align: center;
    width: 200px;
    height: 20px;
}

#imgContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

