<<<<<<< HEAD
#backgrounder {
    background: linear-gradient(#ffffff, #00c61a);
}


#leftText {
    text-align: left;
}

#rightText {
    text-align: right;
}

p1 {
    width: 100%;
=======
body {
     background: rgb(0,255,96);
     background: linear-gradient(0deg, rgba(0,255,96,1) 0%, rgba(0,255,57,0) 100%); 
>>>>>>> ee7585dea4924134b80d12e2b686dbdfcbd0d2ba
}
